<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/addmethod" method="post" th:object="${theToy}">
    <input type="hidden" value="*{id}">
    <label for="brand">Enter your brand</label><input type="text" th:field="*{brand}">
    <label for="model">Enter your model</label><input type="text" th:field="*{model}">
    <label for="date">Enter your date</label><input type="text" th:field="*{date}">
    <button type="submit">Add devices</button>

</form>
</body>
</html>